<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>ArjunVinod Photography</title>
	<meta charset="UTF-8">
	<meta name="description" content="Photographer html template">
	<meta name="keywords" content="photographer, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">

	<!-- Google font -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
		rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/slicknav.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.min.css" />

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css" />


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section  -->
	<header class="header-section hs-bd">
		<a href="/" class="site-logo"><img src="img/logo4.png" alt="logo"></a>
		<div class="header-controls">
			<a href="" style="font-size: 24px; color: black;"><i class="fa fa-instagram"></i></a>
		</div>
	</header>
	<div class="clearfix"></div>
	<!-- Header section end  -->

	<!-- Portfolio section  -->
	<div class="portfolio-section">
		<ul class="portfolio-filter controls text-center">
			<li class="control" data-filter="all">All</li>
			<li class="control" data-filter=".nature">Nature</li>
			<li class="control" data-filter=".macro">Macro</li>
			<li class="control" data-filter=".events">Events</li>
			<li class="control" data-filter=".objects">Objects</li>
			<li class="control" data-filter=".people">People</li>
			<li class="control" data-filter=".architecture">Architecture</li>
			
		</ul>
		<div class="row portfolio-gallery m-0">
			<% const reversedImages = Images.slice().reverse() %>
			<% if(reversedImages.length > 0 ) {%>
				<% reversedImages.forEach(image=>{ %>

					<div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 <%=image.category %>">
						<a href="/img/portfolio/<%= image.image %>" class="portfolio-item img-popup set-bg"
							data-setbg="/img/portfolio/<%= image.image %>"></a>
					</div>

					<% }) %>
				<% } else { %>
					<p>No Images</p>
				<% } %>

		</div>
	</div>
	<!-- Portfolio section end  -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/instafeed.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>